body{
	background: url("../images/background-web.jpg") no-repeat center center fixed;
	text-align: center;
	font-family: sans-serif;
	color: #808080;
}

.box{
	background-color: white;
	width:308px;
	height:450px;
	position: fixed;
	top: 20%;
	left: 40%;
	box-shadow:0px 2px 10px rgba(0,0,0,.5);
}

.profile-img{
	margin-top: -2px;
}

.name{
	margin-bottom: 0px;
	margin-top: 1px;
	font-weight: 300;
	color: #666666;
}

.location-icon{
	width: .9em;
	margin-right: 1px;
}

.location{
	margin-top: 1px;
	margin-right: 7px;
	font-weight: 300;
}

p#desc-one{
	font-size: small;
	font-weight:300;
}

p#desc-two {
font-size: small;
font-weight: 300;
margin-bottom: 60px;
margin-top: 20px;
}

.green-dot{
	width:10px;
	margin-right: 2px;
}

.social li {display: inline-block; margin-top: 5px}

ul{
	margin-left: -30px;
}

.linkedin{
	width:20px;
}

.social img{
	opacity: .7;
}

a:hover img{
	opacity: 1;
}

.twitter{
	width:30px;
}

.github{
	width:25px;
}

.email{
	width:25px;
}

footer{
	font-size: small;
	color: white;
	font-weight: 100;
	position: fixed;
	bottom:0;
	text-align: center;
	margin-left: 46%;
	margin-bottom: 5px;
}